<mat-progress-bar mode="indeterminate" *ngIf="isLoading || isContractsLoading"></mat-progress-bar>
<form [formGroup]="catalogForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>{{'catalog.header' | translate}}</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="{{'catalog.name' | translate}}" required />
      <mat-error align=" right" *ngIf="hasError('name', 'required')">
        {{'common.validation.required.message' | translate}}
      </mat-error>
      <mat-error align=" right" *ngIf="catalogForm.get('name').errors?.catalogNameNotTaken">
        {{'common.validation.taken.message' | translate}}</mat-error>
    </mat-form-field>

    <ng-select [items]="contracts | async" [typeahead]="inputContract" bindLabel="code"
      placeholder="{{'catalog.contract' | translate}}" [searchable]="true" [dropdownPosition]="'bottom'"
      formControlName="contract" (change)="onContractSelected($any($event))" appendTo="body">
      <ng-template ng-label-tmp let-item="item">
        <span *ngIf="item"> {{item.code}}</span>
      </ng-template>
    </ng-select>
    <small align="right" class="mat-error" *ngIf="hasError('contract', 'required')">
      {{'common.validation.required.message' | translate}}
    </small>

    <mat-form-field>
      <input matInput formControlName="comments" placeholder="{{'catalog.comments' | translate}}" />
    </mat-form-field>
  </mat-dialog-content>

  <div mat-dialog-actions align="center">
    <button type="button" mat-raised-button (click)="onNoClick()">{{'common.close' | translate}}</button>
      <button type="submit" mat-raised-button color="primary"
        [disabled]="catalogForm.invalid || !selectedContract || isLoading || isContractsLoading">
        {{'common.save' | translate}}</button>
      </div>
</form>
