.orange-gradient {
  background: linear-gradient(40deg, #ee7e55, #f5972c);
}

.red-gradient {
  background: linear-gradient(40deg, #d42c48, #c04c60);
}

.yellow-gradient {
  background: linear-gradient(40deg, #a7b967, #e9e519);
}

.background-white {
  background-color: white;
}

.background-website {
  background-color: #219cdc;
}

.background-deployment {
  background-color: #67b9b0;
}

.background-admin {
  background-color: #ce1431;
}

.color-website {
  color: #219cdc;
}

.color-deployment {
  color: #67b9b0;
}

.color-admin {
  color: #ce1431;
}
