<div class="mat-elevation-z8 my-4 mx-4 mw-mobile">
  <div class="bg-header p-2 d-flex">
    <span class="fa-stack fa-lg text-primary">
      <i class="fas fa-circle fa-stack-1x fa-lg"></i>
      <i class="fas fa-address-book fa-stack-1x fa-sm text-white"></i>
    </span>
    <h2 class="text-white font-weight-bold pt-1">{{'common.menu.contact' | translate}}</h2>
  </div>
  <div class="d-block p-2 text-right">
    <button class="mr-1" mat-mini-fab color="primary" matTooltip="{{'common.advanceFilter' | translate}}" (click)="toggleFilterPanel()"
      matBadge="{{filterCount}}" matBadgePosition="after" matBadgeColor="warn" [matBadgeHidden]="filterCount===0">
      <i class="fas fa-filter"></i>
    </button>
    <button *ngIf="isAdmin || isRsm || isDoAdmin || isSpoAdmin" mat-mini-fab color="primary" matTooltip="{{'contact.add.tooltip' | translate}}" (click)="addContact()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <mat-expansion-panel [expanded]="panelFilterOpenState">
    <form [formGroup]="contactAdvanceFilterForm">
      <div class="d-block p-2 bg-white">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="{{'contact.lastName' | translate}}" />
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="firstName" placeholder="{{'contact.firstName' | translate}}" />
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="email" placeholder="{{'contact.email' | translate}}" />
        </mat-form-field>

        <mat-slide-toggle color="primary" formControlName="showArchived">
          {{'common.includeArchived' | translate}}
        </mat-slide-toggle>
      </div>
    </form>

    <mat-action-row>
      <button mat-raised-button color="primary" (click)="resetAdvanceFilter()">{{'common.reset' | translate}} </button>
      &nbsp;
      <button mat-raised-button color="primary" (click)="applyAdvanceFilter()">{{'common.search' | translate}}</button>
    </mat-action-row>
  </mat-expansion-panel>

  <div *ngIf="!panelFilterOpenState" class="d-block text-center bg-white">
    <mat-form-field class="p-2">
      <input matInput (keyup)="applyFilter($any($event).target.value)" placeholder="{{'common.search' | translate}}" />
      <i matPrefix class="fas fa-search mr-2"></i>
    </mat-form-field>
  </div>
  <table class="w-100" mat-table matSort [dataSource]="contacts" matSortActive="name" matSortDisableClear matSortDirection="asc">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name">{{'contact.lastName' | translate}}</th>
      <td mat-cell *matCellDef="let element" class="text-break">{{ element?.name }}
        <mat-chip *ngIf="element?.archiveDate" color="primary" selected>{{'common.archived' | translate}}</mat-chip>
      </td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="firstName">{{'contact.firstName' | translate}}</th>
      <td mat-cell *matCellDef="let element" class="text-break">{{ element?.firstName }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="email">{{'contact.email' | translate}} </th>
      <td mat-cell *matCellDef="let element" class="text-break">{{ element?.email }}</td>
    </ng-container>
    <ng-container matColumnDef="fixPhone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="fixPhone">{{'contact.fixPhone' | translate}} </th>
      <td mat-cell *matCellDef="let element" class="text-break">{{ element?.fixPhone }}</td>
    </ng-container>
    <ng-container matColumnDef="mobilePhone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="mobilePhone">{{'contact.mobilePhone' | translate}}</th>
      <td mat-cell *matCellDef="let element" class="text-break">{{ element?.mobilePhone }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{'common.actions' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="(isAdmin || isRsm || isDoAdmin || isSpoAdmin) && !element?.archiveDate" (click)="editContact(element)" matTooltip="{{'contact.edit.tooltip' | translate}}">
          <i class="fas fa-edit p-1"></i>
        </span>
        <span *ngIf="(isAdmin || isRsm || isDoAdmin || isSpoAdmin) && !element?.archiveDate" (click)="deleteContact(element)" matTooltip="{{'contact.delete.tooltip' | translate}}">
          <i class="fas fa-trash p-1"></i>
        </span>
        <span *ngIf="(isAdmin || isRsm || isDoAdmin || isSpoAdmin) && element?.archiveDate" (click)="recoverContact(element)" matTooltip="{{'contact.recover.tooltip' | translate}}">
          <i class="fas fa-undo p-1"></i>
        </span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="totalElements"
    showFirstLastButtons></mat-paginator>
  <div *ngIf="isLoading" class="loading-shade">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
