<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<form [formGroup]="cancellationOrderMailForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>{{'catalog.header' | translate}}</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="to" placeholder="{{'common.mail.to' | translate}}" required />
      <mat-error align=" right" *ngIf="hasError('to', 'required')">
        {{'common.validation.required.message' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="cc" placeholder="{{'common.mail.cc' | translate}}" required />
      <mat-error align=" right" *ngIf="hasError('cc', 'required')">
        {{'common.validation.required.message' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="subject" placeholder="{{'common.mail.subject' | translate}}" required />
      <mat-error align=" right" *ngIf="hasError('subject', 'required')">
        {{'common.validation.required.message' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [matTextareaAutosize]="true" [matAutosizeMinRows]="1" [matAutosizeMaxRows]="5" type="text"
        formControlName="body" placeholder="{{'common.mail.body' | translate}}"></textarea>
      <mat-error align=" right" *ngIf="hasError('body', 'required')">
        {{'common.validation.required.message' | translate}}
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <h1 mat-dialog-title>{{'common.menu.settings.operator.mail.template.preview' | translate}}</h1>
    <p innerHTML="{{cancellationOrderMailForm?.controls['body']?.value}}"></p>

  <div mat-dialog-actions align="center">
    <button type="button" mat-raised-button (click)="onNoClick()">{{'common.close' | translate}}</button>
    <button type="submit" mat-raised-button color="primary"
      [disabled]="cancellationOrderMailForm.invalid || isLoading">{{'common.send' | translate}}</button>
  </div>
</form>
