<div class="w-100 h-100" [formGroup]="formGroup">
  <h3 mat-dialog-title *ngIf="data.cms">Edit Cms</h3>
  <h3 mat-dialog-title *ngIf="!data.cms">Add Cms</h3>
  <div mat-dialog-content>
    <span *ngIf="data.cms">Cms ID: {{ data.cms.code }}</span>
    <div class="form-group">
      <mat-form-field flex class="md-icon-float md-block md-title mt-2">
        <input matInput placeholder="Code" name="code" formControlName="code" required [readonly]="!!data.cms" />
      </mat-form-field>

      <mat-form-field flex class="md-icon-float md-block md-title mt-2">
        <input matInput placeholder="Name" name="name" formControlName="name" required />
      </mat-form-field>

      <mat-form-field flex class="md-icon-float md-block md-title mt-2">
        <input matInput placeholder="Code Repository Url" name="codeRepositoryUrl" formControlName="codeRepositoryUrl" required />
        <mat-error *ngIf=" formGroup.get('codeRepositoryUrl')!.dirty && formGroup.get('codeRepositoryUrl')!.hasError('pattern') && !formGroup.get('codeRepositoryUrl')!.hasError('required')">
          Please enter a valid URL
        </mat-error>
        <mat-error *ngIf="formGroup.get('codeRepositoryUrl')!.dirty && formGroup.get('codeRepositoryUrl')!.hasError('required')">
          Code repository URL is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field flex class="md-icon-float md-block md-title mt-2">
        <input matInput placeholder="Binary Repository Url" name="binaryRepositoryUrl" formControlName="binaryRepositoryUrl" required
        />
        <mat-error *ngIf=" formGroup.get('binaryRepositoryUrl')!.dirty && formGroup.get('binaryRepositoryUrl')!.hasError('pattern') && !formGroup.get('binaryRepositoryUrl')!.hasError('required')">
          Please enter a valid URL
        </mat-error>
        <mat-error *ngIf="formGroup.get('binaryRepositoryUrl')!.dirty && formGroup.get('binaryRepositoryUrl')!.hasError('required')">
          Binary repository URL is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="float-right mt-3">
    <button type="button" mat-raised-button color="primary" (click)="cancel()" class="mr-1">
      Cancel
    </button>
    <button type="submit" mat-raised-button color="primary" (click)="confirm()" [disabled]="formGroup.pristine || formGroup.invalid">
      <span *ngIf="data.cms">Edit
        <i *ngIf="saving" class="fas fa-circle-notch fa-spin"></i>
      </span>
      <span *ngIf="!data.cms">Add
        <i *ngIf="saving" class="fas fa-circle-notch fa-spin"></i>
      </span>
    </button>
  </div>
</div>
