<div class="w-100 h-100" [formGroup]="formGroup">
  <h3 mat-dialog-title *ngIf="data.docroot">Edit Docroot</h3>
  <h3 mat-dialog-title *ngIf="!data.docroot">Add Docroot</h3>
  <div mat-dialog-content>
    <span *ngIf="data.docroot">Docroot ID: {{ data.docroot.code }}</span>
    <div class="form-group">
      <mat-form-field flex class="md-icon-float md-block md-title mt-2">
        <input matInput placeholder="Code" name="code" formControlName="code" required [readonly]="!!data.docroot" />
      </mat-form-field>

      <mat-form-field flex class="md-icon-float md-block md-title mt-2">
        <input matInput placeholder="Name" name="name" formControlName="name" required />
      </mat-form-field>

      <mat-form-field flex class="md-icon-float md-block md-title mt-2">
        <input matInput placeholder="RundeckJob Api Url" name="rundeckJobApiUrl" formControlName="rundeckJobApiUrl" required />
        <mat-error *ngIf="formGroup.get('rundeckJobApiUrl')!.dirty && formGroup.get('rundeckJobApiUrl')!.hasError('required')">
          RundeckJob api Url is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Hosting Provider" formControlName="hostingProvider" [matAutocomplete]="autoHostingProvider"
          name="hostingProvider" required/>
        <i matSuffix class="fas fa-search"></i>
        <mat-autocomplete #autoHostingProvider="matAutocomplete" (optionSelected)="selectHostingProvider(true, $event?.option?.value)"
          (opened)="selectHostingProvider(false)" [displayWith]="displayFn">
          <mat-option *ngFor="let hostingProvider of (hostingProvider$ | async)" [value]="hostingProvider">
            <span>{{ hostingProvider?.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field flex class="md-icon-float md-block md-title mt-2">
        <input matInput placeholder="Provider Internal Id" name="providerInternalId" formControlName="providerInternalId" />
      </mat-form-field>
    </div>
  </div>
  <div class="float-right mt-3">
    <button type="button" mat-raised-button color="primary" (click)="cancel()" class="mr-1">
      Cancel
    </button>
    <button type="submit" mat-raised-button color="primary" (click)="confirm()" [disabled]="formGroup.pristine || formGroup.invalid || !hasHostingProviderSelected">
      <span *ngIf="data.docroot">Edit
        <i *ngIf="saving" class="fas fa-circle-notch fa-spin"></i>
      </span>
      <span *ngIf="!data.docroot">Add
        <i *ngIf="saving" class="fas fa-circle-notch fa-spin"></i>
      </span>
    </button>
  </div>
</div>
