<div class="w-100 h-100" [formGroup]="formGroup">
  <h3 mat-dialog-title>Add Docroot Env</h3>
  <div mat-dialog-content>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="DocRoot*" formControlName="docroot" [matAutocomplete]="autoDocroot" name="docroot" />
        <i matSuffix class="fas fa-search"></i>
        <mat-autocomplete #autoDocroot="matAutocomplete" (optionSelected)="selectedObject(1, $event?.option?.value)" (opened)="openedDocroot()"
          [displayWith]="displayFn">
          <mat-option *ngFor="let docroot of (docroots$ | async)" [value]="docroot">
            <span>{{ docroot?.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Environment*" formControlName="environment" [matAutocomplete]="autoEnvironment" name="environment"
        />
        <i matSuffix class="fas fa-search"></i>
        <mat-autocomplete #autoEnvironment="matAutocomplete" (optionSelected)="selectedObject(2, $event?.option?.value)" (opened)="openedEnv()"
          [displayWith]="displayFn">
          <mat-option *ngFor="let environment of (environments$ | async)" [value]="environment">
            <span>{{ environment?.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Cms*" formControlName="cms" [matAutocomplete]="autoCms" name="cms" />
        <i matSuffix class="fas fa-search"></i>
        <mat-autocomplete #autoCms="matAutocomplete" (optionSelected)="selectedObject(3, $event?.option?.value)" (opened)="openedCms()"
          [displayWith]="displayFn">
          <mat-option *ngFor="let cms of (cmsList$ | async)" [value]="cms">
            <span>{{ cms?.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field flex class="md-icon-float md-block md-title mt-2">
        <input matInput placeholder="Cms version" name="cmsVersion" formControlName="cmsVersion" required />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Drupal Docroot*" formControlName="drupal" [matAutocomplete]="autoDrupal" name="drupal" />
        <i matSuffix class="fas fa-search"></i>
        <mat-autocomplete #autoDrupal="matAutocomplete" (optionSelected)="selectedObject(4, $event?.option?.value)" (opened)="openedDrupal()"
          [displayWith]="displayFn">
          <mat-option *ngFor="let drupal of (drupalDocroots$ | async)" [value]="drupal">
            <span>{{ drupal?.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field flex class="md-icon-float md-block md-title mt-2">
        <input matInput placeholder="Drupal version" name="drupalVersion" formControlName="drupalVersion" required />
      </mat-form-field>
      <mat-form-field flex class="md-icon-float md-block md-title mt-2">
        <input matInput placeholder="Provider Internal Id" name="providerInternalId" formControlName="providerInternalId" />
      </mat-form-field>
      <mat-form-field flex class="md-icon-float md-block md-title mt-2">
        <input matInput placeholder="Acquia Environment Id" name="acquiaEnvironmentId" formControlName="acquiaEnvironmentId" />
      </mat-form-field>
      <mat-checkbox color="primary" labelPosition="before" formControlName="canAutoDeploy">
        AutoDeploy
      </mat-checkbox>
    </div>
  </div>
  <div class="float-right mt-3">
    <button type="button" mat-raised-button color="primary" (click)="cancel()" class="mr-1">
      Cancel
    </button>
    <button type="submit" mat-raised-button color="primary" (click)="confirm()" [disabled]="formGroup.pristine || formGroup.invalid || !canActivateButton()">
      <span>Add
        <i *ngIf="saving" class="fas fa-circle-notch fa-spin"></i>
      </span>
    </button>
  </div>
</div>