.text-area-container {
  label {
    width: 100%;

    .caption {
      color: #829db4;
      font-family: Gilroy-Regular;
      font-size: 13px;
      letter-spacing: -0.41px;
      line-height: 16px;
      text-align: right;
    }
  }

  textarea {
    margin-top: 16px;
    box-sizing: border-box;
    height: 100px;
    border: 1px solid #e6eff6;
    border-radius: 8px;
    background-color: #ffffff;
    font-family: Gilroy-Regular;
    font-size: 16px;
    letter-spacing: -0.28px;
    line-height: 22px;
    text-align: left;
    color: #005b93;

    &::placeholder {
      text-align: left;
      color: #829db4;
    }
  }
}
