.mat-column-usualName {
  width: 35%;
}

.mat-column-address1 {
  width: 20%;
}

.mat-column-sector {
  width: 20%;
}

.mat-column-company {
  width: 15%;
}

.mat-column-sifCode {
  width: 10%;
}

.mat-column-actions {
  width: 10%;
}
