.mainContent {
  width: 490px;
  height: 450px;
}

input[type='text'],
input[type='password'] {
  width: 70%;
  padding: 1px 0;
  margin: 8px auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding-left: 45px;
  display: block;

  &.ng-valid.ng-dirty {
    border-left: 5px solid #03943b;
  }

  &.ng-invalid.ng-dirty {
    border-left: 5px solid #940303;
  }
}

.password {
  background-image: url('../../../assets/lock-orange.png');
  background-repeat: no-repeat;
  background-position: 10px 5px;
  margin-top: 25px;
}

.confirmNewPassword {
  margin-top: 0;
}

.alert-system {
  position: absolute;
  margin: 5px auto 0;
  z-index: 10000;
  left: 38.5%;
  top: 0;
  width: 400px;
  background-image: none;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.mr-10 {
  margin-right: 10px;
}
