<div role="alert" class="alert-system alert-message alert alert-danger" *ngIf="hasError">
  <i class="fas fa-exclamation-circle mr-10"></i>  <span class="message">{{ errorMessage | translate}}</span>
</div>
<div class="mainContent">
  <div class="title">
    {{'new.password.title' | translate}}
  </div>
  <p>
    {{ 'new.password.text' | translate}}
  </p>
  <form [formGroup]="newPasswordForm" autocomplete="off" (ngSubmit)="setNewPassword()">
    <input class="password"
           type="password"
           formControlName="password"
           placeholder="{{ 'NewPassword' | translate}}" />

    <input class="password confirmPassword"
           type="password"
           formControlName="confirmPassword"
           placeholder="{{ 'new.password.input.confirm' | translate}}" />

    <button type="submit" [disabled]="newPasswordForm.invalid">
      {{ 'common.validate' | translate}}
    </button>
  </form>
</div>