/* Variable de couleur */
$color-white: #fff;
$color-blue: #005b93;
$color-lightBlue: #60c3ff;
$color-green:	#39e5b1;
$color-lightGreen: #def9f4;
$color-red: #ef5350;
$color-grey: #829db4;
$color-lightGrey: #e6eff6;
$color-btnHover: #2dc9aa;
