<div class="mat-elevation-z8 my-4 mx-4 mw-mobile">
  <div class="bg-header p-2 d-flex">
    <span class="fa-stack fa-lg text-primary">
      <i class="fas fa-circle fa-stack-1x fa-lg"></i>
      <i class="fas fa-map-marker-alt fa-stack-1x fa-sm text-white"></i>
    </span>
    <h2 class="text-white font-weight-bold pt-1">{{'common.menu.viewedit.projectbulkmodification' | translate}}</h2>
  </div>
  <div>
    <mat-vertical-stepper [linear]="false" #stepper>
      <mat-step [completed]="false">
        <ng-template matStepLabel>{{'bulkUpload.validateAndUpload.message' | translate}}</ng-template>
        <stgo-file-upload accept=".xls,.xlsx" (fileSelected)="onFileChange($event)">
        </stgo-file-upload>
        <div class="p-2">
          <button mat-raised-button color="primary" (click)="validateAndUpload()" [disabled]="disabledUpload">
            {{'bulkUpload.validateAndUpload' | translate}}
          </button>
        </div>
        <div *ngIf="projectModesBulkUploadErrors && projectModesBulkUploadErrors.length > 0">
          <ul *ngFor="let error of projectModesBulkUploadErrors">
            <li> <span class="mat-error">Row {{error.rowNumber}} : {{error.message}} </span>
            </li>
          </ul>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <div *ngIf="isLoading" class="loading-shade">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
