/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import 'theme/theme-variables';

// 3rd party libraries
@import '../../../node_modules/@delivery/eworkplace/docs/_sass/bootstrap/bootstrap-reboot';
@import '../../../node_modules/@delivery/eworkplace/docs/_sass/bootstrap/bootstrap-grid';
@import '../../../node_modules/@delivery/eworkplace/docs/_sass/bootstrap/utilities';
@import '../../../node_modules/@delivery/eworkplace/docs/_sass/fontawesome/fontawesome';
@import '../../../node_modules/@delivery/eworkplace/docs/_sass/fontawesome/fa-solid';
@import '../../../node_modules/@delivery/eworkplace/docs/_sass/fontawesome/fa-regular';
@import '../../../node_modules/@delivery/eworkplace/docs/_sass/fontawesome/fa-brands';
@import '~@ng-select/ng-select/themes/material.theme.css';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
// Reset
@import 'theme/theme-reset';

// Material Design
@import 'theme/material';

// Theme customization
@import 'theme/theme';
