<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<form [formGroup]="documentForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <h1 mat-dialog-title>
    {{'company.setting.document.add' | translate}}
  </h1>
  <mat-dialog-content>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input matInput formControlName="startDate" [matDatepicker]="pickerStartDate" placeholder="{{'company.setting.start-date' | translate}}"
            readonly />
          <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
          <mat-datepicker #pickerStartDate></mat-datepicker>
          <button type="button" mat-button *ngIf="documentForm.get('startDate')!.value" matSuffix mat-icon-button (click)="documentForm.get('startDate')!.setValue(null)">
            <i class="fas fa-times"></i>
          </button>
          <mat-hint class="w-100" *ngIf="documentForm.controls['startDate'].hasError('required')">
            <span align="right" class="mat-error">
              {{'common.validation.required.message' | translate}}
            </span>
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input matInput formControlName="endDate" [matDatepicker]="pickerEndDate" placeholder="{{'company.setting.end-date' | translate}}"
            readonly />
          <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
          <mat-datepicker #pickerEndDate></mat-datepicker>
          <button type="button" mat-button *ngIf="documentForm.get('endDate')!.value" matSuffix mat-icon-button (click)="documentForm.get('endDate')!.setValue(null)">
            <i class="fas fa-times"></i>
          </button>
          <mat-hint class="w-100" *ngIf="documentForm.controls['endDate'].hasError('required')">
            <span align="right" class="mat-error">
              {{'common.validation.required.message' | translate}}
            </span>
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ng-select formControlName="type" [items]="types" bindLabel="label" bindValue="value" placeholder="{{ 'company.setting.type' | translate }}"
          [searchable]="false" [dropdownPosition]="'bottom'" [selectOnTab]="true" notFoundText="" typeToSearchText="">
          <ng-template ng-label-tmp let-item="item">
            <span *ngIf="item"> {{item?.label}}
            </span>
          </ng-template>
        </ng-select>
        <mat-hint class="w-100" *ngIf="documentForm.controls['type'].hasError('required')">
          <span align="right" class="mat-error">
            {{'common.validation.required.message' | translate}}
          </span>
        </mat-hint>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <stgo-file-upload accept=".pdf" (fileSelected)="onFileChange($event)">
        </stgo-file-upload>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="center">
    <button type="button" mat-raised-button (click)="onNoClick()">{{'common.close' | translate}}</button>
    <button type="submit" [disabled]="documentForm.invalid || isLoading || disabledUpload" mat-raised-button color="primary"
      class="mr-3">{{'common.save' | translate}}</button>
  </div>
</form>
